doctype html
html
	head
		title= title
		script(type='text/javascript', src='/scripts/jquery.js')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript').
				var totalCount = 3;
				$(function() {
					var num = Math.ceil( Math.random() * totalCount);
					document.body.background = '../backgrounds/'+num+'.jpg';
				});
	header
		nav(class='navbar navbar-default navbar-customize' role='navigation')
			div.navbar-block
				div.navbar-header
					-var ulClass = ['nav', 'nav-pills']
					ul(class=ulClass)
						li
							button(class='btn-home', type='button')
								h3= title
									a(href='/')
	body
		div.container
			div.container-fluid#parentWidth
				div.row-fluid#signDefault
					div.center-block
						form.form-signin(action='/sessions/new', method='get', id='childWidth')
							- var btnClass = ['btn', 'btn-large', 'btn-default', 'btn-block']
							button(class=btnClass, type='submit') Sign in
					div.center-block
						h4 or
					div.center-block
						form.form-signin(action='/users/new',method='get', id='childWidth')
							button(class=btnClass, type='submit') Sign up