doctype html
html
	head
		title= title
		script(type='text/javascript', src='/scripts/jquery.js')
		script(type='text/javascript', src='/scripts/bootstrap.js')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	header
		nav(class='navbar navbar-default navbar-customize' role='navigation')
			div.navbar-block
				div.navbar-header
					-var ulClass = ['nav', 'nav-pills']
					ul(class=ulClass)
						li
							a(href='/feed')
								button(class='btn-home', type='submit')
									h3= title
					-var ulClass = ['nav', 'pull-right', 'nav-pills']
					ul(class=ulClass)
						li!= follow
						li
							a(href='/')
								button(class='btn-links', type='submit')
									h5 Home
						li
							a(href='/users')
								button(class='btn-links', type='submit')
									h5 Users
						li
							a(href='/feed')
								button(class='btn-links', type='submit')
									h5 Feed
						li
							a(href='/photos/new')
								button(class='btn-links', type='submit')
									h5 Upload
						li
							button(class='btn-disabled disabled', type='submit')
								h5= name
						li
							a(href='/signout')
								button(class='btn-links btn-signOut', type='submit')
									h5 Sign Out