doctype html
html  
	head
		title= title
		script(type='text/javascript', src='/scripts/jquery.js')
		script(type='text/javascript', src='/scripts/test.js')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	header
		nav(class='navbar navbar-default navbar-customize' role='navigation')
			div.navbar-block
				div.navbar-header
					-var ulClass = ['nav', 'nav-pills']
					ul(class=ulClass)
						li
							a(href='/')
								button(class='btn-home', type='submit')
									h2=title
					-var ulClass = ['nav', 'pull-right', 'nav-pills']
					ul(class=ulClass)
						li
							a(href='/feed')
								button(class='btn-links', type='submit')
									h5= name
						li
							a(href='/signout')
								button(class='btn-links', type='submit')
									h5 Sign Out
		h1
