doctype html
html
	head
		title= title
		script(type='text/javascript', src='/scripts/jquery.js')
		script(type='text/javascript', src='/scripts/bootstrap.js')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript').
			var totalCount = 3;
			$(function() {
				var num = Math.ceil( Math.random() * totalCount);
				document.body.background = '../backgrounds/'+num+'.jpg';
			});
	header
		nav(class='navbar navbar-default navbar-customize' role='navigation')
			div.navbar-block
				div.navbar-header
					-var ulClass = ['nav', 'nav-pills']
					ul(class=ulClass)
						li
							a(href='/feed')
								button(class='btn-home', type='submit')
									h3= title
					-var ulClass = ['nav', 'pull-right', 'nav-pills']
					ul(class=ulClass)
						li
							a(href='/')
								button(class='btn-links', type='submit')
									h5 Home
						li
							a(href='/feed')
								button(class='btn-links', type='submit')
									h5 Feed
						li
							div(class='btn-group pull-right')
								button(type="button" class="btn btn-upload dropdown-toggle btn-links"
								data-toggle="dropdown")
									h5 Upload
								div#uploadDiv(class="dropdown-menu" role="menu")
									form(action="/upload", method="post", enctype="multipart/form-data")
										p.wrong= wrongFile
										input(id='uploadInput',type='file', name='photoFile')
										- var btnClass = ['btn', 'btn-large', 'btn-primary']
										br
										button(class=btnClass, type='submit') Upload

						li
							button(class='btn-disabled disabled', type='submit')
								h5= name
						li
							a(href='/signout')
								button(class='btn-links btn-signOut', type='submit')
									h5 Sign Out