doctype html
html
	head
		title= title
		script(type='text/javascript', src='/scripts/jquery.js')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	header
		nav(class='navbar navbar-default navbar-customize' role='navigation')
			div.navbar-block
				div.navbar-header
					-var ulClass = ['nav', 'nav-pills']
					ul(class=ulClass)
						li
							button(class='btn-home', type='button')
								h2=title
									a(href='/')
	body
		div.container
			div.container-fluid#parentWidth
				div.row-fluid#signin
					div.center-block
						form.form-signin(action='/signin', method='post', id='childWidth')
							h2.form-signin-heading Sign in
							p.wrong= wrongSignIn
							input.input-block-level(type='text', placeholder='Username' name='uname')
							input.input-block-level(type='password', placeholder='Password' name='pwd')
							- var btnClass = ['btn', 'btn-large', 'btn-primary', 'btn-block']
							button(class=btnClass, type='submit') Sign in
